
@font-face {
	font-family:ProximaNova;src:url(../fonts/proximanova-regular-webfont.eot);src:url(../fonts/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/proximanova-regular-webfont.woff) format('woff'),url(../fonts/proximanova-regular-webfont.ttf) format('truetype'),url(../fonts/proximanova-regular-webfont.svg#proximanova_regular) format('svg');font-weight:500;font-style:normal;
}

@font-face {
	font-family:ProximaNova;src:url(../fonts/proximanova-bold-webfont.eot);src:url(../fonts/proximanova-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/proximanova-bold-webfont.woff) format('woff'),url(../fonts/proximanova-bold-webfont.ttf) format('truetype'),url(../fonts/proximanova-bold-webfont.svg#proximanova_bold) format('svg');font-weight:700;font-style:normal;
}

@font-face {
	font-family:ProximaNova;src:url(../fonts/proximanova_black-webfont.eot);src:url(../fonts/proximanova_black-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/proximanova_black-webfont.woff) format('woff'),url(../fonts/proximanova_black-webfont.ttf) format('truetype'),url(../fonts/proximanova_black-webfont.svg#proximanova_black) format('svg');font-weight:900;font-style:normal;
}

@font-face {
	font-family:ProximaNovaCond;src:url(../fonts/proximanovacond-semibold-webfont.eot);src:url(../fonts/proximanovacond-semibold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/proximanovacond-semibold-webfont.woff) format('woff'),url(../fonts/proximanovacond-semibold-webfont.ttf) format('truetype'),url(../fonts/proximanovacond-semibold-webfont.svg#proximanova_cond) format('svg');font-weight:400;font-style:normal;
}

@font-face {
	font-family:zoo;src:url(../fonts/zoo.eot);src:url(../fonts/zoo.eot?#iefix) format('embedded-opentype'),url(../fonts/zoo.woff2) format('woff2'),url(../fonts/zoo.ttf) format('truetype'),url(../fonts/zoo.woff) format('woff'),url(../fonts/zoo.svg?#zoo) format('svg');font-weight:400;font-style:normal;
}

*{
	margin:0;
	padding: 0;
}
body {
	font-family: ProximaNova;
	font-size: 100%;	
	font-weight: 500;
	color: #333;
	background: #fff;
}
#container{
	position:relative;
	max-width: 1600px;
	margin:0 auto;
	background:#fff;
}
.header
{
	background: #333;
}

#top-menu .hours
{
	display: none;
}
#top-menu .search-button
{
	display: none;
}
#top-menu .search-bar .screen-reader-text
{
	display: none;
}
.search-bar
{
	clear:both;
	margin:auto 0;
	margin:1rem 0;
	padding:0 10px 0 0;
	max-width: 800px;
	text-align:center;
	
	
}
#top-menu .search-bar input[type="text"]
{
	font-size:1.2rem;
	border:1px solid #fff;
	color:#545454;
	background-color: #333;
	padding:6px;
	width:65%;
}
#top-menu .search-bar input[type="submit"]
{
	font-size:1rem;
	 font-weight:700;
     color:#fff;
     background-color:#f90;
     border:1px solid #f90;
     padding:8px 0;
     width:26%;
     float:right;
}
.top-links
{
	margin:0;
	border-top:1px solid #1a1a1a;
}
.top-links a
{
	display: inline-block;
	border-bottom:1px solid #1a1a1a;
	width:49%;
	font-size:1rem;
	padding:8px 0;
	text-align: center;
	text-transform: uppercase;
}
.top-links a.become-member
{
	width:44%;
}
.top-links a:nth-child(5)
{
	border-bottom: none;
}
.main-menu
{
	margin:0;
	text-align: center;
	font-family: ProximaNovaCond;
}

#top-menu
{
	color:#333;

}
[class*="icon-"],[class^=icon-] {
	font-family: zoo !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	 /* 抗锯齿处理 =========== */ 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-search:before
{
	content:"\4f";
}

.icon-video-camera:before {
	content: "\2b";
}
#top-menu .top-links a,#top-menu .top-links a:visited
{
	display: inline-block;
	padding:0.5rem 0;
	color:#f90;
	text-decoration:none;
}
#top-menu .top-links a .icon-video-camera
{
	font-size:12px;
	padding-right: 2px;
}
#top-menu .top-links a.become-member, #top-menu .top-links a:visited.become-member
{
	background:#f90;
	color:#000;
	font-weight: 700;
	border-radius: 4px;
	padding:4px 8px 3px;
}
/*屏幕宽度小于750时头像的大小*/
.header .svg-logo {
	fill: #fff;
	width: 100px;
	height: 100px;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease；
}
.banner
{
	
	background:#333;
}
.banner .bg
{
	width:100%;
	height:auto;
	max-height:720px;
}
.main-menu li a
{
	color:#fff;
	text-decoration: none;
	font-family: ProximaNovaCond;
     padding:.8rem .75rem .7rem;
     text-shadow: -1px -1px 0 rgba(0,0,0,.5);
	display: block;	
}
@media only screen and (max-width:750px)
{
.main-menu li a
{
		background-color:#690;
		border-top: 1px solid #625F5F;
}
}

.main-menu li a:after
{
	content:'\25BC';  
    padding-left:5px;
}
#top-menu .top-links a:hover
{
		color:#fff;
}
.header #logo
{
	margin:0;
	padding:6px 12px 4px;
	float:left;
}
.header #logo .svg-logo
{
	padding:8px;
}
.mobilehoures
{
	color:#fff;
	float:left;
    margin:25px 0 0 20px;
}

.mobilehoures p
{
	margin:0;
	color:#f90;
	line-height: 1.4rem;
	text-transform:uppercase;
}
.mobilehoures p span
{
	color:#fff;
	font-size:1.5rem;
	font-family: ProximaNova;
	display: block;
	text-transform: none;
}
.mobilehoures #phone
{
	color:#fff;
	font-size:1.7rem;
	text-decoration:none;
	margin-top:0.6rem;
	font-family: ProximaNova;
	display: block;
}
.mobilemenu
{
	clear:both;
}
.mobilemenu #showmenu.active
{
	background-color: #460;

}
.mobilemenu #showmenu
{

   font-size:1.6rem;
   color:#fff;
   background:#690;
   text-decoration: none;
   padding:0.5rem 0.8rem;
   text-align: left;
   font-weight:700;
   display: block;   
}
.mobilemenu #showmenu span
{
	background:url(../../images/arrows.png) no-repeat ;
	background-position: 0 -16px ;
	float:right;
	width:27px;
	height:17px;
	margin-top:0.3em;
	display: block;
}
#navigation
{
	display: none;
}
#main
{
	color:#333;
	background:#fff;
}
.homebottom
{
	clear:both;
	background: #e9e9d7;
}
.homebottom .blocks
{
	text-align:center;
	padding-top: 1rem;

}
.homebottom .blocks li
{
	display: inline-block;
	margin:0px;
	padding:1rem;
	max-width: 200px;
	list-style: none;
	vertical-align:top;
}

.homebottom .blocks li a
{
	text-decoration: none;
}
.homebottom .blocks li a img
{
	
	border:2px solid #fff;
	border-radius: 50%;
	margin-bottom: 1rem;
	max-width: 100%;

}
.homebottom .blocks li h4
{
	margin:0 0 0.3rem;
	line-height: 1.1rem;
	font-weight: 900;
	font-size: 1.4rem;
	color:#690;
}
.homebottom .blocks li p
{
	margin:0;
	color: #666;
	font-size:0.9rem;
	line-height: 1.1rem;
}
@media  screen and (min-width:481px)
{
   .homebottom .blocks li
  {
	
	display: inline-block;
	margin:1rem;
	padding:1rem;
  
  }
}
@media  screen and (min-width:750px)
{
	.header #logo
	{
		position:absolute;
		margin:0;
		padding:0;
		top:10px;
		left:2%;
		z-index: 2;
	}
	.header .svg-logo
	{
		width:70px;
		height:70px;
	}
	.header
	{
		background:#333;
		
	}
	#navigation{
	float:none;
    position:absolute;
    top:0;
    left:0;
    display: block!important;
    width:100%;
    overflow: visible!important;
}
	#top-menu
	{
		padding:8px 0 8px 120px;
		text-align: left;
		background:rgba(0,0,0,.7);
        
	}
	#top-menu .hours
	{
		width:120px;
		float:left;
		display: block;
		color:#fff;
		font-size:0.6rem;
		margin-top:0.875rem;
		padding:10px 0 0;
		font-weight:600;
	}
	#top-menu .hours p span
	{
		font-size:1rem;
		display: block;
	}
    #top-menu .search-button
    {
    	font-size:18px;
    	color:#f90;
    	float:right;
    	display: block;
    	padding: 4px 12px 0;
    	border-left:1px dotted #fff;
    }
     #top-menu .top-links
	{
		width:60%;
		float:right;
		text-align:right;
		padding: 0 12px 0 0;
		margin-top:0px;
		border: none;
	}
	#top-menu .top-links a
	{
		display: inline-block;
		width:auto;
		border: none;
		padding:2px 6px;
	}
	#top-menu .top-links a.become-member
	{
		margin:12px 6px;
	}

   .mobilehoures
   {
   	display: none;
   }
   .mobilemenu
   {
   	display: none;
   }
   .search-bar
   {
   	display: none;
   }

	.main-menu
	{
		margin:0 auto;
		padding:0;
		background: 0 0;
		max-width: 1180px;
		text-align: justify;	
	}
	.main-menu
	{ 
		position:relative;
		float:right;
		top:18px;
		right: 2%;
		width:96%;
		/*text-align: center;*/
	}
	.main-menu li
	{
		display: inline-block;
	}
	.main-menu li a
	{
		font-size:1.1rem;
		vertical-align: top;
		padding:0.35rem;

	}
	.menu-block
	{
		height:80px;
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(rgba(0,0,0,0)));
        background: -webkit-linear-gradient(rgba(0,0,0,.6)20%,rgba(0,0,0,0)100%);
        background:linear-gradient(rgba(0,0,0,.6)20%,rgba(0,0,0,0)100%);
	}
	.homebottom
	{
		padding-bottom: 1rem;
	}
}

@media screen and (min-width:954px)
{
	.header
	{
		position:relative;
		width:100%;
		clear:both;
	}
	.header #logo
	{
		top:70px;
	}
	.header #logo .svg-logo
	{
		width:100px;
		height:100px;
		padding: 2px;
	}

	#top-menu
	{
		padding:8px 0 8px;
	}
	#top-menu .top-wrap
	{
		width:96%;
		max-width: 1180px;
		margin:0 auto;
	}
	#top-menu .hours
	{
         
         width:22%;  
         padding:4px 0 0 4px;
         margin:6px 0 0;
	}
	#top-menu .hours p span
	{
		display: inline;
		padding-left: 8px;
		font-size:1.1rem;
	}

	 #top-menu .top-links 
	 {
	 	width:60%;
	 }
	 #top-menu .top-links a.become-member
	 {
	 	margin:4px;
	 }
	 .main-menu
	 {
	 	width:80%;
	 }
	 .homebottom
	 {
	 	background:url(../../images/bottom_palms.png) no-repeat bottom left #e9e9d7;

	 }
	 .homebottom .blocks li
	 {
	 	max-width: none;
	 	width: 320px;
	 }
}


@media  screen and (min-width:1220px)
{
	body
	{
		background:#f5f5ed;
	}
	.header #logo
	{
		left:50%;
		margin-left: -590px;
	}
	.main-menu {
		max-width: 1000px;
		margin: 0 auto;
		float: none;
		right: -80px;
		padding-right: 0;
		text-align: right
	}

}

.clearfix:after, .clearfix:before
{
	content:"";
	display: block;
	border-style:solid;
	border-width: 0;
	clear:both;
}